    {% extends 'base.html.twig' %}
    {% block title %}Accueil{% endblock %}

        {% block body %}
            <div id="demo1">
                <div class="slide">
                    <img src="img/slides/1.jpg" />
                    <div class="slide-desc">
                        <h2>Slider Title 1</h2>
                        <p>Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. <a class="more" href="#">more</a></p>
                    </div>
                </div>
                <div class="slide">
                    <img src="img/slides/2.jpg" />
                    <div class="slide-desc">
                        <h2>Slider Title 2</h2>
                        <p>Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. <a class="more" href="#">more</a></p>
                    </div>
                </div>
                <div class="slide">
                    <img src="img/slides/3.png" />
                    <div class="slide-desc">
                        <h2>Slider Title 3</h2>
                        <p>Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. <a class="more" href="#">more</a></p>
                    </div>
                </div>
                <div class="slide">
                    <img src="img/slides/4.jpg" />
                    <div class="slide-desc">
                        <h2>Slider Title 4</h2>
                        <p>Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. <a class="more" href="#">more</a></p>
                    </div>
                </div>
                <div class="slide">
                    <img src="img/slides/5.jpg" />
                </div>
                <div class="slide">
                    <img src="img/slides/6.jpg" />
                    <div class="slide-desc">
                        <h2>Slider Title 6</h2>
                        <p>Demo description here. Demo description here. Demo description here. Demo description here. Demo description here. <a class="more" href="#">more</a></p>
                    </div>
                </div>
            </div>
        {% endblock %}
