{% extends 'base.html.twig' %}
        {% block title %}Présentation{% endblock %}

    
{% block body %}
    <canvas id="canvas"></canvas>
    <div class="button fire">Fire</div>
    <div class="button ice">Ice</div>
    {% endblock %}